.all_categories-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(274px, 4fr));
    grid-template-rows: auto;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-gap: 3%;
    padding: 3%;
}

.loading_img {
    width: 20%;
    display: block;
    margin: auto
}

.back_btn-div {
    display: flex;
    padding: 1%;
    justify-content: center;
    background-color: plum;
}

.back_btn {
    font-size: 2em;
    border-radius: 16px;
    padding: 7%;
    box-shadow: #3a3a3a 7px 5px 8px 0px;
    border-style: none;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: all .2s ease-in-out;
        background-color: teal;
    }
}