.all_categories-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(274px, 4fr));
    grid-template-rows: auto;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-gap: 3%;
    padding: 3%;
    animation: fade-in 1s ease-out both 0.3s;
}

@keyframes fade-in {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

.loading_img {
    width: 20%;
    display: block;
    margin: auto
}

.back_btn-div {
    display: flex;
    padding: 1%;
    justify-content: center;
    background-color: plum;
}

.back_btn {
    font-size: 2em;
    border-radius: 16px;
    padding: 7%;
    box-shadow: #3a3a3a 7px 5px 8px 0px;
    border-style: none;
    width: 150px;
    transition: all .2s ease;
    margin: 2%;
        &:hover {
        cursor: pointer;
        transform: matrix3d(0.94, 0, 0.34, -0.0002, 0, 1, 0, 0, -0.34, 0, 0.94, 0, 1, 0, 10, 1) translateX(1px);
        box-shadow: inset #3a3a3a -2px -4px 7px 0px;    
        }
}