@import url("https://fonts.googleapis.com/css2?family=Lexend+Tera&display=swap");

.nav_main {
    background-color: plum;
    min-height: 100vh;
    font-family: 'Lexend Tera', sans-serif;
}

h1 {
    font-size: 3.5em;
    text-align: center;
    font-weight: 700;
    padding-top: 2%;
}

.nav_images-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 4% 0;
    padding: 3% 0;
    background-color: white;
}

.womans_face-img {
    width: 17%;
}

.lipstick-img {
    width: 26%;
}

.counter_makeup-img {
    width: 25%;
}

.makeups-img {
    width: 23%;
}

.category_type-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2% 0;
}

.category_btn {
    font-size: 1.1em;
    border-radius: 3px;
    padding: 1.5%;
    box-shadow: #3a3a3a 7px 5px 8px 0px;
    border-style: none;
    width: 150px;
    margin: 2%;
        &:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: all .2s ease-in-out;
        background-color: teal;
    }
}

h2 {
    border-bottom: 1px solid black;
    width: 90%;
    margin: auto;
    padding-bottom: 2%;
}

.button_category-img {
    width: 120px;
}