.product_card {
    border-radius: 10px;
    box-shadow: 11px 12px 10px 1px #141415c2;
    text-align: center;
    padding: 3%;
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    perspective: 200px;
    transition: all .2s ease;
        &:hover {
            transform: matrix3d(0.94, 0, 0.34, -0.0002, 0, 1, 0, 0, -0.34, 0, 0.94, 0, 1, 0, 10, 1) translateX(-10px);
        }
}

.product_img {
    width: 120px;
    height: 120px;
}

.product_link {
    transition: all .2s ease;
    &:hover {
        cursor: pointer;
        border-radius: 10px;
        box-shadow: 6px 6px 9px #8d8d8d;
        transform: scale(1.1) translateX(-10px);
    }
}

.product_h3,
.product_h4 {
    margin-bottom: 2.2%;
}

.product_description {
    margin: 2% 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}