.product_card {
    border-radius: 3px;
    box-shadow: 20px 12px 15px 1px #141415a3;
    text-align: center;
    // grid-area: card;
    padding: 3%;
}

.product_img {
    width: 120px;
}

.product_link {
    font-size: 1.2em;
    &:hover {
        cursor: pointer;
        color: teal;
        font-size: 1.5em;
        transition: all .4s ease-in-out;
    }
}